doctype html
html
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="UTF-8")
        title= title
        link(type="text/css", rel="stylesheet", href="styles/style.css")
        script#sap-ui-bootstrap(type="text/javascript", src="resources/sap-ui-core.js", data-sap-ui-theme="sap_bluecrystal", data-sap-ui-libs="sap.m", data-sap-ui-resourceroots='{"sap.adminconsole.apps": "./apps/"}')
        script(type="text/javascript", src="javascripts/script.js")
    body.sapUiBody
        div#content