#header {
  background-image: -webkit-linear-gradient(top, rgb(247, 247, 247) 0px, rgb(242, 242, 242) 33%, rgb(242, 242, 242) 75%, rgb(237, 237, 237) 100%);
}
#logo {
  margin-left: 16px;
}
.sapMTile {
  border-radius: 6px !important;
}